//META{"name":"Dark Matter","description":"A cold dark sexy theme for all your gloomy moods.","author":"CosmicSalad","version":"1.1"}*//

/*
                     _                _                                   _ 
  __ _ _ __  _ __   | |__   __ _  ___| | ____ _ _ __ ___  _   _ _ __   __| |
 / _` | '_ \| '_ \  | '_ \ / _` |/ __| |/ / _` | '__/ _ \| | | | '_ \ / _` |
| (_| | |_) | |_) | | |_) | (_| | (__|   < (_| | | | (_) | |_| | | | | (_| |
 \__,_| .__/| .__/  |_.__/ \__,_|\___|_|\_\__, |_|  \___/ \__,_|_| |_|\__,_|
      |_|   |_|                           |___/                             
*/

.app {
	background-image:url("https://i.imgur.com/7SbtKvw.png") !important;
	background-size:cover !important;
}

/*
                           _                           _       
  ___ ___  _ __ ___    ___| | ___ _ __ ___   ___ _ __ | |_ ___ 
 / __/ _ \| '__/ _ \  / _ \ |/ _ \ '_ ` _ \ / _ \ '_ \| __/ __|
| (_| (_) | | |  __/ |  __/ |  __/ | | | | |  __/ | | | |_\__ \
 \___\___/|_|  \___|  \___|_|\___|_| |_| |_|\___|_| |_|\__|___/

*/

textarea {
	background:transparent !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb {
	border:3px solid rgba(255,255,255,0) !important;
	background-color:#1D6586 !important;
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
	border:3px solid rgba(255,255,255,0) !important;
	background-color:rgba(0,0,0,0.3) !important;
}

/*
 _     _     _      
| |__ (_) __| | ___ 
| '_ \| |/ _` |/ _ \
| | | | | (_| |  __/
|_| |_|_|\__,_|\___|

*/

.links,
.help-container {
	display: none;
}

/*
                 _         _                _                                   _     
 _ __ ___   __ _(_)_ __   | |__   __ _  ___| | ____ _ _ __ ___  _   _ _ __   __| |___ 
| '_ ` _ \ / _` | | '_ \  | '_ \ / _` |/ __| |/ / _` | '__/ _ \| | | | '_ \ / _` / __|
| | | | | | (_| | | | | | | |_) | (_| | (__|   < (_| | | | (_) | |_| | | | | (_| \__ \
|_| |_| |_|\__,_|_|_| |_| |_.__/ \__,_|\___|_|\_\__, |_|  \___/ \__,_|_| |_|\__,_|___/
                                                |___/                                 
*/

.links,
.chat,
.typing,
.content,
.guild-channels,
.private-channels,
.guild-header header,
.divider-red span,
#voice-connection {
	background: transparent !important;
}

/* Server list area */
.guilds-wrapper { background:rgba(0,0,0,0.6) !important }

/* Channels list area */
.channels-wrap { background:rgba(0,0,0,0.75) }

/* Chat area */
.content .flex-spacer { background:rgba(0,0,0,0.85) }

/* User list area */
.channel-members { background:rgba(0,0,0,0.95) !important }

/*
                                _ _     _                   _   _             
 ___  ___ _ ____   _____ _ __  | (_)___| |_   ___  ___  ___| |_(_) ___  _ __  
/ __|/ _ \ '__\ \ / / _ \ '__| | | / __| __| / __|/ _ \/ __| __| |/ _ \| '_ \ 
\__ \  __/ |   \ V /  __/ |    | | \__ \ |_  \__ \  __/ (__| |_| | (_) | | | |
|___/\___|_|    \_/ \___|_|    |_|_|___/\__| |___/\___|\___|\__|_|\___/|_| |_|

*/ 

.guilds-wrapper {
	box-shadow:inset -10px 0px 20px -10px rgba(0,0,0,0.2);
}

.guild-header ul {
	background:#000 !important;
    opacity:0 !important;
    transition: transform .5s cubic-bezier(0.18, 0.89, 0.32, 1.28) !important;
}

.guild-header-open ul {
	opacity: 1 !important;
}

.guilds-add {
    opacity: 0.5;
}

.guilds-wrapper {
	border-right: 1px solid rgba(0,0,0,0.4);
}

.guild-header header span {
	margin-left:-3px;
}

.guild-header header {
	box-shadow:none !important;
	color:#ddd;
}

.guild-channels header h2, .guild-channels ul .channel a {
	color:#fff;
}

.guilds {
	padding:18px 20px 85px 20px;
}

.guilds-add {
	font-size:30px;
	background:#000;
}

.guilds li .guild-inner {
	background:#151515;
}

.guilds li.active .guild-inner {
	background:#25ACE8;
}

.guilds li .guild-inner:hover {
	background:#1D6586;
}

.guilds li .guild-inner a, .guilds li, .guilds li .avatar-small {
	width:40px;
	height:40px;
}

.guilds li .avatar-small {
	width:40px;
	height:40px;
	background-size: 40px 40px;
}

.guilds li .guild-inner {
	line-height:40px;
}

.guilds .friends-icon {
	width:40px;
	height:40px;
	background-size:25px 19px;
}

.guilds li.audio .guild-inner:after {
	background-size:12px;
	background-color:rgba(0,0,0,0.8);
}

.guilds-separator:after {
	background:#969696;
}

.guilds li .guild-inner:before {
	left:-26px;
}

.guilds li.unread .guild-inner:before,
.guild-channels ul .channel-text.unread:not(.selected):not(.channel-muted):before {
	background:#25ACE8;
}

.guilds li.active .guild-inner:before {
	background:#fff !important;
}

.guild-channels header h2,
.private-channels header {
	opacity:.6;
}

.private-channels .search-bar {
	background:rgba(10,13,16,0) !important;
}

.private-channels .search-bar input {
	background:rgba(0,0,0,0.8) !important;
}

.guild-channels ul .channel.selected,
.private-channels .channel.selected,
.private-channels .search-result.selected,
.private-channels .search-result:hover {
	background:rgba(0,0,0,0.6) !important;
}

.guild-channels ul .channel:not(.selected):hover,
.private-channels .channel:not(.selected):hover {
	background:rgba(0,0,0,0.3) !important;
}

.guild-channels ul .channel:not(.selected):before,
.guild-channels ul .channel.selected:before,
.guild-channels ul .channel.selected:hover:before,
.private-channels .channel:not(.selected):before,
.private-channels .channel.selected:before,
.private-channels .channel.selected:hover:before,
.private-channels .search-result.selected:before,
.private-channels .search-result:hover:before {
	border-left:5px solid #1D6586 !important;
}

.guild-channels ul .channel-text.unread:not(.selected):not(.channel-muted):before {
	left:-11px;
}

/*
      _                            _                     _   _             
  ___| |__   __ _ _ __  _ __   ___| |___   ___  ___  ___| |_(_) ___  _ __  
 / __| '_ \ / _` | '_ \| '_ \ / _ \ / __| / __|/ _ \/ __| __| |/ _ \| '_ \ 
| (__| | | | (_| | | | | | | |  __/ \__ \ \__ \  __/ (__| |_| | (_) | | | |
 \___|_| |_|\__,_|_| |_|_| |_|\___|_|___/ |___/\___|\___|\__|_|\___/|_| |_|

*/

.btn-hamburger {
	margin-right:-25px;
}

.btn-hamburger span {
	background:#fff;
}

.account {
	z-index:9;
	border-top:none !important;
	width:290px;
    margin-left:-80px;
	padding:0 15px !important;
	background:rgba(0,0,0,0.75);
}

.account .status {
    border:2px solid rgba(0,0,0,1);
}

.account .btn {
	background:#000;
	box-shadow:none !important;
}

#voice-connection {
	z-index:9;
	border-top:none !important;
	/*width:285px;
    margin-left:-83px;*/
	padding:15px 20px 15px 18px !important;
}

#voice-connection .btn {
	background:#000;
	box-shadow:none !important;
}

.account .btn-deafen, .account .btn-settings {
	box-shadow:none !important;
}

.account .btn-group, #voice-connection .btn-group {
	border:none;
}

/*
      _           _                   _   _             
  ___| |__   __ _| |_   ___  ___  ___| |_(_) ___  _ __  
 / __| '_ \ / _` | __| / __|/ _ \/ __| __| |/ _ \| '_ \ 
| (__| | | | (_| | |_  \__ \  __/ (__| |_| | (_) | | | |
 \___|_| |_|\__,_|\__| |___/\___|\___|\__|_|\___/|_| |_|

*/

.topic {
	color: #cdcdcd !important;
}

.title-wrap {
	border-bottom:1px solid rgba(0,0,0,0.3) !important;
	background:rgba(0,0,0,0.95) !important;
}

.chat .new-messages-bar {
	background-color:rgba(29,101,134,.9);
}

.chat .new-messages-bar:hover {
	background-color:rgba(29,101,134,1);
}

.chat .new-messages-bar button:last-child {
	color:rgba(255,255,255,0.5);
}

.chat-empty {
	background:rgba(20,23,27,0.95);
}

.chat>.title-wrap>.topic {
	font-size:12px;
}

.chat>.content .messages .message-group:not(.has-divider) {
    border-bottom-color:hsla(0,0%,100%,.04) !important;
}

.chat>.content .messages .message-group .comment .markup .highlight {
    background-color:rgba(29,101,134,.5) !important;
    color:#ddd !important;
}

.chat>.content .messages .message-group .comment .markup .highlight:hover {
    background-color:rgba(29,101,134,1) !important;
    color:#fff !important;
}

/* Date 1px line */
.chat .divider:not(.divider-red)>div {
	background:rgba(0,0,0,0.9) !important;
}

.chat .divider>span {
	background-color:rgba(0,0,0,0) !important;
	font-size:12px;
	padding:5px 20px;
	text-transform:uppercase;
}

.chat .divider:not(.divider-red)>span {
	color:rgba(255,255,255,1) !important;
}

.chat>.content .messages .message-group a {
	color:#25ACE8 !important;
}

.chat>.content .messages .message-group .markup {
	color:rgba(255,255,255,0.5) !important;
	line-height:1.5em;
}

.chat>.content .messages .message-group h2 .user-name {
	color:rgba(255,255,255,0.8);
}

.chat>.content .messages .message-group h2 span {
	color:rgba(255,255,255,0.2) !important;
}

.channel-textarea-upload {
	border-right-color: hsla(0,0%,100%,.1) !important;
}

.channel-textarea-inner {
	border: 2px solid rgba(255,255,255,0.1) !important;
	background:rgba(0,0,0,0.6) !important;
}

.typing {
	font-size:11px;
}

.spoiler span {display:none;}
.spoiler:before {
    min-height:18px;
    padding-top:2px;
    border-radius:5px;
    background:rgba(25,25,25,0.7);
}

#twitchcord-button {
	background-size: 24px;
	background-position: 20px;
	background-color: transparent;
}

/*
                       _ _     _                   _   _             
 _   _ ___  ___ _ __  | (_)___| |_   ___  ___  ___| |_(_) ___  _ __  
| | | / __|/ _ \ '__| | | / __| __| / __|/ _ \/ __| __| |/ _ \| '_ \ 
| |_| \__ \  __/ |    | | \__ \ |_  \__ \  __/ (__| |_| | (_) | | | |
 \__,_|___/\___|_|    |_|_|___/\__| |___/\___|\___|\__|_|\___/|_| |_|

*/

.channel-members .invite-btn {
	background:#1D6586;
}

.channel-members .invite-btn:hover {
	background:#25ACE8;
}

.channel-members .member:hover {
	background:rgba(255,255,255,0.07) !important;
}

/*
                       _        __                                       _   
 _   _ ___  ___ _ __  (_)_ __  / _| ___    _ __   ___  _ __   ___  _   _| |_ 
| | | / __|/ _ \ '__| | | '_ \| |_ / _ \  | '_ \ / _ \| '_ \ / _ \| | | | __|
| |_| \__ \  __/ |    | | | | |  _| (_) | | |_) | (_) | |_) | (_) | |_| | |_ 
 \__,_|___/\___|_|    |_|_| |_|_|  \___/  | .__/ \___/| .__/ \___/ \__,_|\__|
                                          |_|         |_|                    
*/

.popout header,
.slider-bar-fill {
	background-color:#1D6586;
	border:1px solid #1D6586;
}

.user-popout .user-popout-options .btn {
	background-color:#1D6586;
	border:1px solid #1D6586;
}

.user-popout .user-popout-options .btn:hover {
	background-color:#25ACE8;
	border:1px solid #25ACE8;
}

/*
 _              _ _   _           
| |_ ___   ___ | | |_(_)_ __  ___ 
| __/ _ \ / _ \| | __| | '_ \/ __|
| || (_) | (_) | | |_| | |_) \__ \
 \__\___/ \___/|_|\__|_| .__/|___/
                       |_|        
*/

.tooltip {
    background:#1D6586;
    color:#e0e0e0;
}

.tooltip.tooltip-right:after {
    border-right-color:#1D6586;
}

.tooltip.tooltip-top:after {
    border-top-color:#1D6586;
}

/*
          _   _   _                 
 ___  ___| |_| |_(_)_ __   __ _ ___ 
/ __|/ _ \ __| __| | '_ \ / _` / __|
\__ \  __/ |_| |_| | | | | (_| \__ \
|___/\___|\__|\__|_|_| |_|\__, |___/
                          |___/     
*/

.settings .settings-header {
	background:#1a1d20 !important;
}

.form .btn-primary {
	background-color:#1D6586;
}

.form .btn-primary:hover {
	background-color:#25ACE8;
}

.user-settings-modal a {
	color:#1D6586;
}

.user-settings-modal a:hover {
	color:#25ACE8;
}

.channel-notification-settings .content .content-inner {
	background:transparent !important;
}